/* Regular */
@font-face {
    font-family: "JF Flat Regular";
    src: url('font/JF-Flat-regular.eot');
    src: url('font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('font/JF-Flat-regular.woff') format('woff'),
    url('font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;font-family: 'JF Flat Regular',Sans-Serif; }
*:focus, *:hover, *:active {outline-width: none;}
a {text-decoration: none;color: inherit;}
body{background: url(http://i.imgur.com/SKuuRE2.jpg);}

input::-webkit-input-placeholder {
color: #000;
}
input:-moz-placeholder {
color: #000;
}
input::-moz-placeholder {
color: #000;
}
input:-ms-input-placeholder {
color: #000;
}

#main {
	width: 1050px;
	margin: 0 auto;
}

#header {
	background: #fff;
}

#logo {
	height: 300px;
}
#logo img {
	width: 100%;
	height: 100%;
}

#nav {
	height: 50px;
	background: #3A3A3A;
}

#nav ul {
	display: inline-block;
	height: 100%;
}

#nav li {
	padding: 7px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	background: ;
	transition: background 1s ;
	margin: 0 0 0 -4px;
}

#nav li:hover {
	background: #e74c3c;
}

#mid {
	background: #222222;
	padding: 0 0 20px 0;
}

#title {
	background: #D64040;
	display: inline-flex;
	width: 300px;
	margin: 20px ;
}

#title img {
	background: #3A3A3A;
	width: 30px;
	height: 29px;
	padding: 10px;
}

#title span {
	margin: auto;
}

#blal {overflow: hidden;}

.sub {
	border: 3px solid #D64040;
	width: 300px;
	text-align: center;
	display: inline-block;
	margin: 20px;
}

.sub p {
	margin: 4px;
	background: #D64040;
}

p.sub-im {
	position: relative;
	top: 59%;
	display: none;
	z-index: 1;
	padding: 0.5px;
}

.sub-img ,.sub-img div:nth-child(2) {
	width: 300px;
	height:350px;
	position: absolute;
	top: 0;
}
.sub img {
	width: 100%;
	height: 100%;
}

.sub-img {position: relative;overflow: hidden;}

.sub-info {
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 461.5px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	transform: rotate(40.5deg);
	left: 274px;
	top: 211.5px;
	transition : left 2s ease-in-out, top 2s ease-in-out;
}
.sub-info div {
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 300px;
	transform: rotate(-40.5deg);
	left: 0;
	top: 0;
	transition : left 2s ease-in-out, top 2s ease-in-out;
}

.sub-info0 {
	display: inline-block;
	position: absolute;
	width: 300px;
	height: 461.5px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	transform: rotate(40.5deg);
	right: 155px;
	bottom: 350px;
	transition : right 2s ease-in-out, bottom 2s ease-in-out;
}
.sub-info0 div {
	display: inline-block;
	position: absolute;
	margin: auto;
	width: 300px;
	transform: rotate(-40.5deg);
	left: 0;
	top: 0;
	transition : left 2s ease-in-out, top 2s ease-in-out;
}


.sub-info0 a:first-child {
	width: 70%;
	margin: 5px;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#ff4935;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	text-align: left;
	right: 16px;
	transition: top 100ms ease-in-out, right 100ms ease-in-out;
}
.sub-info0 a:first-child:hover {
	background-color:#ce0100;
}
.sub-info0 a:first-child {
	position:relative;
	top:-5px;
}
.sub-info0 a:first-child:active {
	top: -10px;
	right: 5px;
}

.sub-info a:nth-last-child(1) {
	width: 70%;
	margin: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#73ff00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
	text-align: right;
	right: -16px;
	transition: top 100ms ease-in-out, right 100ms ease-in-out;
}
.sub-info a:nth-last-child(1):hover {
	background-color:#5cb811;
}
.sub-info a:nth-last-child(1) {
	position:relative;
	top:-5px;
}
.sub-info a:nth-last-child(1):active {
	top: 0px;
	right: -5px;
}








#load {
	-moz-box-shadow: 5px 7px 3px 0px #8a2a21;
	-webkit-box-shadow: 5px 7px 3px 0px #8a2a21;
	box-shadow: 5px 7px 3px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:15px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
	display: block;
	margin: 10px auto;
	top : 0;
	left: 0;
}
#load:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
#load:active {
	position:relative;
	top:5px;
	left: 7px;
	box-shadow: none;
	transition: box-shadow 100ms, top 100ms, left 100ms;
}



#footer {
	background: #3A3A3A;
	padding: 2.5%;
}

#footer-ul {
	width: 30%;
	list-style: none;
	display: inline-block;
}

#footer-ul li {
	background: #5c5b5b;
	border-radius: 10px;
	margin: 10px 0;
	color: #fff;
	padding: 5px 15px 5px 5px;
}
#footer-ul li .fa{
	padding: 0 0 0 2px;
}

#foo1 {
	width: 30%;
	background: #5c5b5b;
	margin: 10px 2.5%;
	display: inline-block;
	vertical-align: top;
	height: 200px;
}

#foo2 {
	width: 30%;
	background: #5c5b5b;
	margin: 10px 0;
	display: inline-block;
	vertical-align: top;
	height: 200px;
}





#search {
	margin: 0px 5px;
	display: inline-block;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#search span {
	margin: ;
	padding: 3px;
	width: 30%;
	background-image: none;
	border: 1px solid #000;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-color: #AAB2BD;
}
#search input[type=text] {
	background: #3A3A3A;
	border: none;
	padding: 2px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	color: #fff;	
}
#search #img {
	height: 26px;
	vertical-align: sub;
}
#search #img:hover {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: 2;
	animation-direction: alternate;
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(2360deg);
	}
}

@keyframes show {
	from {
		height:0;
	}
	to {
		max-height: 99999px;
	}
}

.load.loa {color: #fff;display: none;margin: 20px;}
